<!DOCTYPE html>
<html>
  <head>
  
    <!-- Google ADD -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9940359673199194",
        enable_page_level_ads: true
      });
    </script>
    <!-- end google add -->

    <title>BitCaffe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><%= image_tag("logo.jpg",class: "logo") %></li>
        <li><%= link_to "Home", url_for("/"), class: "nav-links", :data => { :reload => true } %></li>
        <li><%= link_to "News", url_for("/news"), class: "nav-links", :data => { :reload => true } %></li>
        <li><%= link_to "Resources", url_for("/resources"), class: "nav-links", :data => { :reload => true } %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><%= link_to "Logout", "/logout", class: "nav-links fa fa-sign-out", :data => { :reload => true } %></li>
            <% else %>
              <li><%= link_to "Sign-Up", "/signup" , class: "nav-links glyphicon glyphicon-user", :data => { :reload => true } %></li>
              <li><%= link_to "Login", "/login" , class: "nav-links fa fa-sign-in", :data => { :reload => true } %></li>
            <% end %>
          </ul>
        </li>
      </ul>
  </nav>
    <br><br>
    <%= yield %>
    <footer id="main-footer">
      <!-- <div id="sub-footer">
      <div>
        <div class="col-md-2"></div>

        <div class="footer-content-container">
          <div class="col-md-4 footer-left-col">
            <div class="title-container">
              <h1 class="footer-form-title">Sign up for our newsletter</h1>
            </div>

            <input type="email" class="black-text footer-email-bar" placeholder="Email" name="email">

            <div class="footer-button-container">
              <p class="js-subscribe-response subscribe-response"></p>
              <button class="footer-form-submit">Subscribe</button>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div> -->
      <div class="fullwidthcontainer" style="background-color:#32373b;height: 58px;">
        <div class="fullwidthcontainer_inner">
            <div class="row">
                <div class="col-md-12">
                    <a href=""><img class="logofoot" src="//www.incimages.com/topnav/inc-logo-white.png"></a>
                </div>
            </div>
        </div>
    </div>  <!-- end fullwidthcontainer -->

    <div class="fullwidthcontainer" style="background-color:#444; padding-bottom: 30px;">
        <div class="fullwidthcontainer_inner">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <ul>
                        <li><a href="#">Startup</a></li>
                        <li><a href="#">Grow</a></li>
                        <li><a href="#">Lead</a></li>
                        <li><a href="#">Innovate</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Money</a></li>
                    </ul>
                </div> 
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <ul>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Newsletters</a></li>
                        <li><a href="#">Magazine</a></li>
                        <li><a href="#">BrandView</a></li>
                        <li><a href="#">Podcasts</a></li>
                        <li><a href="#" target="_blank">Subscribe</a></li>
                    </ul>
                </div> 
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="#" target="_blank">Advertise</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div> 
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-content-container">
                      <div class="col-md-4 footer-left-col">
                        <div class="title-container">
                          <h1 class="footer-form-title">Sign up for our newsletter</h1>
                        </div>

                        <input type="email" class="black-text footer-email-bar" placeholder="Email" name="email">

                        <div class="footer-button-container">
                          <p class="js-subscribe-response subscribe-response"></p>
                          <button class="footer-form-submit">Subscribe</button>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- <div class="col-md-2 col-sm-6 col-xs-12">
                    <ul>
                        <li>SUBSCRIBE</li>
                        <hr style="margin:2px 0px;">
                        <li><a href="https://www.inc.com/magsubscribe">Magazine</a></li>
                        <li style="margin-bottom: 20px;"><a href="/app">Digital Edition</a></li>
                        <li>FOLLOW INC.</li>
                        <hr style="margin:2px 0px;">
                    </ul>
                    <a href="https://www.facebook.com/Inc/" target="_blank"><i class="fa fa-facebook signupicon" aria-hidden="true" style="margin-left: 0;"></i></a>
                    <a href="https://twitter.com/inc" target="_blank"><i class="fa fa-twitter signupicon" aria-hidden="true" style="margin-left: 10px;"></i></a>
                    <a href="https://www.linkedin.com/company/7587/" target="_blank"><i class="fa fa-linkedin signupicon" aria-hidden="true" style="margin-left: 10px;"></i></a>
                    <a href="https://plus.google.com/+incmagazine" target="_blank"><i class="fa fa-google-plus signupicon" aria-hidden="true" style="margin-left: 10px;"></i></a>
                    <a href="https://www.youtube.com/user/incmagazine" target="_blank"><i class="fa fa-youtube signupicon" aria-hidden="true" style="margin-left: 10px;"></i></a>
                </div> -->
                <!-- <div class="col-md-2 col-sm-6 footer-cover-image">
                    <a href="#"><img class="magfoot" src=""></a>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-12 copyright" style="text-align: center;">
                    copyright BitCaffe LLC @ 2017 
                </div>
            </div>
        </div>
      </div> <!-- end fullwidthcontainer -->
    </footer>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> 
  </body>
  </html>

  <script type="text/javascript">
    $(function() {
      $(".dropdown").on("mouseover", function() {
        $(this).addClass("open");
      });
      $(".dropdown").on("mouseout", function() {
        $(this).removeClass("open");
      });
      $(".dropdown-toggle, .navbar-brand").on("click", function() {
        if (window.location.pathname == $(this).attr("href")) {
          return false;
        } else {
          window.location = $(this).attr("href");
        }
      });
    }); 

    $(function(){
      $('a[data-reload="true"').on('click', function(e) {
        window.location = $(e.target).attr('href');
        window.location.reload(true);
      });
    });
  </script>
